INFISICAL_CLIENT_ID=<your_client_id_here>
INFISICAL_CLIENT_SECRET=<your_client_secret_here>
WEB_INFISICAL_PATH=<infisical-directory-here>
API_INFISICAL_PATH=<infisical-directory-here>
DB_INFISICAL_PATH=<infisical-directory-here>
